h1 {
  color: goldenrod;
}

body {
  background-color: rgb(191, 206, 194);
}
div {
  width: 400px;
  height: 200px;
  color: rgb(11, 130, 0);
  border: 3px dashed red;
  margin: 10px auto;
  text-align: center;
}
.nogrow {
  box-sizing: border-box;
  background-image: url("../01/dbz.jpg");
}
